.reservation-container {
    background-color: ivory;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reservation-title {
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.popup-wrap{
    background-color:rgba(0,0,0,.3); 
    justify-content:center;
    align-items:center; 
    position:fixed; 
    top:0;
    left:0;
    right:0;
    bottom:0;  
    display:none; 
padding:15px; 
  }